<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<tx:annotation-driven />

	<mvc:annotation-driven />

	<context:component-scan base-package="com.caliber.user" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property value="/static/pages/" name="prefix" />

		<property value=".html" name="suffix" />

	</bean>

	<mvc:resources location="/static/" mapping="/static/**" />

	<context:annotation-config />
	
	<bean
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		name="sessionFactory">

		<property value="com.caliber.user.beans"
			name="packagesToScan" />
			
		<property name="hibernateProperties">
		
			<props>

				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>

				<prop key="hibernate.cache.use_second_level_cache">true</prop>

				<prop key="hibernate.cache.use_query_cache">true</prop>

				<prop
					key="org.hibernate.cache.ehcache.configurationResourceName">/ehcache.xml</prop>

				<prop key="hibernate.cache.region.factory_class"> org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory </prop>

				<prop key="hibernate.show_sql">false</prop>

				<prop key="format_sql">false</prop>

			</props>

		</property>

		<property name="dataSource" ref="dataSource" />

	</bean>

	<bean
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		name="transactionManager">

		<property name="sessionFactory" ref="sessionFactory" />

	</bean>

	<!-- Logging -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		id="log4jInitialization">

		<property value="org.springframework.util.Log4jConfigurer"
			name="targetClass" />

		<property value="initLogging" name="targetMethod" />

		<property name="arguments">

			<list>

				<value>classpath:log4j.properties</value>

			</list>

		</property>

	</bean>

</beans>